<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asteroids</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Asteroids</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime [(ngModel)]="startDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime [(ngModel)]="endDate"></ion-datetime>
  </ion-item>
  <ion-button expand="full" (click)="loadAsteroids()">Load Asteroids</ion-button>

  <ion-list *ngIf="asteroids.length > 0">
    <ion-item *ngFor="let asteroid of asteroids">
      <ion-label>
        <h2>{{ asteroid.name }}</h2>
        <p>Diameter: {{ asteroid.estimated_diameter.kilometers.estimated_diameter_max }} km</p>
        <p>Velocity: {{ asteroid.close_approach_data[0]?.relative_velocity.kilometers_per_hour }} km/h</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>
